## H2OFrame and Pandas DataFrame

In [2]:
import h2o
print(h2o.__version__)

import pandas as pd

3.30.1.1

In [3]:
#> H2Oクラスターの開始
h2o.init(url='http://localhost:54321')

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; OpenJDK 64-Bit Server VM (build 11.0.6+8-b765.1, mixed mode)
  Starting server from C:\Users\jpnyvs\AppData\Local\Continuum\anaconda3\envs\H2O_3\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\jpnyvs\AppData\Local\Temp\tmpeuvbee99
  JVM stdout: C:\Users\jpnyvs\AppData\Local\Temp\tmpeuvbee99\h2o_jpnyvs_started_from_python.out
  JVM stderr: C:\Users\jpnyvs\AppData\Local\Temp\tmpeuvbee99\h2o_jpnyvs_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Asia/Tokyo
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.1.1
H2O_cluster_version_age:    1 month and 28 days
H2O_cluster_name:           H2O_from_python_jpnyvs_imcezx
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.973 Gb
H2O_cluster_total_cores:    0
H2O_cluster_allowed_cores:  0
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.6.10 final
--------------------------  ---------------------------------------------------------

### Creating H2OFrame and Pandas DataFrame from dict

In [55]:
businessman = {
    'Name':['Yamada','Suzuki','Sato','Tanaka'],
    'Age':[30,35,27,45],
    'Monthly_Income':[50,38,25,47]
}

In [56]:
type(businessman)

dict

- Pandas DataFrame

In [61]:
df_panda = pd.DataFrame(businessman)
df_panda

     Name  Age  Monthly_Income
0  Yamada   30              50
1  Suzuki   35              38
2    Sato   27              25
3  Tanaka   45              47

In [62]:
type(df_panda)

pandas.core.frame.DataFrame

- H2OFrame

In [63]:
df_h2o = h2o.H2OFrame(businessman)
df_h2o

Parse progress: |█████████████████████████████████████████████████████████| 100%

Name,Age,Monthly_Income
Yamada,30,50
Suzuki,35,38
Sato,27,25
Tanaka,45,47

In [64]:
type(df_h2o)

h2o.frame.H2OFrame

### Converting H2OFrame and Pandas DataFrame

- from H2OFrame to DataFrame

In [67]:
df_h2o.as_data_frame()

     Name  Age  Monthly_Income
0  Yamada   30              50
1  Suzuki   35              38
2    Sato   27              25
3  Tanaka   45              47

In [38]:
type(df_h2o.as_data_frame())

pandas.core.frame.DataFrame

- from DataFrame to H2OFrame

In [69]:
h2o.H2OFrame.from_python(df_panda)

Parse progress: |█████████████████████████████████████████████████████████| 100%

Name,Age,Monthly_Income
Yamada,30,50
Suzuki,35,38
Sato,27,25
Tanaka,45,47

In [70]:
type(h2o.H2OFrame.from_python(df_panda))

Parse progress: |█████████████████████████████████████████████████████████| 100%

h2o.frame.H2OFrame